@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

nav {
  padding: 0.5rem;
  width: 100vw;
  height: 4rem;
  background-color: var(--cloud);
  @include flex(row, space-between, center);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .logo {
    cursor: pointer;
    margin-left: 1rem;
    @include flex(column, center, center);

    > *:first-child {
      width: 100%;
      font-family: var(--displayFont);
      font-size: 1.5rem;
      color: var(--purpleTingedGrey);
      @include flex(row, space-between, center);
    }

    > *:last-child {
      font-family: var(--displayFont);
      font-size: 1rem;
      color: var(--purpleTingedGrey);
    }
  }

  .navLinks {
    margin-right: 2rem;
    ul {
      @include flex(row, space-between, center);
      gap: .5rem;

      li {
        position: relative;
        height: 100%;
        padding: .5rem;
        list-style: none;
        font-family: var(--navFont);
        font-size: 1.2rem;
        color: var(--purpleTingedGrey);
        cursor: pointer;
        border-radius: 0.2rem;

        &:hover {
          background-color: var(--brightRed);
          color: var(--cloud);
        }
      }

      #donate {
        background-color: var(--brightRed);
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        color: var(--cloud);
      }
    }
  }
}
