@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Colors
  --brightRed: #de354c;
  --deepRed: #932432;
  --purePurple: #3c1874;
  --purpleTingedGrey: #283747;
  --cloud: #f3f3f3;
  --lightBlue: #dfe9f5;

  //fonts
  --navFont: 'Josefin Sans', sans-serif;
  --typingFont: 'Nixie One', cursive;
  --mainFont: 'Marcellus', serif;
  --displayFont: 'Averia Serif Libre', cursive;;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background: var(--cloud);
}